<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello Glimmer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}app.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    <div class="sk-cube-grid">
      I am the spinner.
    </div>
    <div id="dashboard-application"></div>
    {{content-for "body"}}

    <script src="{{rootURL}}app.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
